/* spil.css */
body {
  background-color: #00ff00; /* Lysegrøn */
  margin: 0;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.deorant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-button {
  width: 30%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
  transition: transform 0.2s; /* Tilføjer en smooth transition effekt */
}

.image-button:hover {
  transform: scale(1.1); /* Gør billedet lidt større når musen holdes over */
}

/* Stil for købte items */
.image-button[src*="DeoKøbt"] {
  cursor: default;
  opacity: 0.8; /* Gør købte items lidt mere matte */
}